{% extends "blog/base.html" %}
{% block content %}
    <h1>Мы хорошие котята</h1>
<div>
    <img src="../media/us_foto/Sveta.jpg" align="left" style="max-width:300px;"  />
<big>Свелана Фарбовская</big>
<br>
<p> > Закончила Финансовый Университет! Ночной угнитатор!</p>
<br><br> <br><br><br><br><br><br><br><br>
</div>
    <div>
<img src="../media/us_foto/Alexey.JPG" align="right" style="max-width:300px;" />
<big>Алексей Ерофеев</big>
<br>
    <p>Ездок хоть куда! Всегда поможет!</p>
 <br><br><br><br><br><br><br><br>
    </div>
    <img src="../media/us_foto/img_1.png" align="left" style="max-width:300px;"  />
<big>Анна Койчиева</big>
<br>
<p> > Двигатель! Тоже Финашку кончала...и прикончила...:)</p>
<br><br> <br><br><br><br>
<img src="../media/us_foto/img_2.png" align="right" style="max-width:300px;" />
<big>Артём Антипов</big>
<br>
    <p>Няшка-добряшка!</p>
 <br><br>

{% endblock content %}